# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv
env/
venv/


# IDEs and editors
.vscode/
.idea/
# macOS
.DS_Store

# Environment variables
.env
.mcp.json

# Tests
.pytest_cache/
.coverage
tests/fixtures/
.poetry/lock
templates/

# 실행파일 및 Command history
dist/
build/
.mider-history
.mider_backups
state.json


