# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv
env/
venv/

# Poetry
poetry.lock

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables
.env

# Tests
.pytest_cache/
.coverage
